version: '3.7'
services:
  nextcloud:
    build:
      context: ./nextcloud
      dockerfile: Dockerfile
      args:
        GID: ${GID}
    volumes:
      - nextcloud-data:/var/www/html
      - ./data:/var/www/html/data
      - ./config:/var/www/html/config
      - /srv/share:/mnt/share
    links:
      - db
      - redis
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    depends_on:
      - db
    networks:
      - internal
      - web-network
    restart: unless-stopped

  db:
    image: mysql:8.0
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - internal
    restart: unless-stopped

  redis:
    image: redis:alpine
    volumes:
      - redis-data:/data
    networks:
      - internal
    restart: unless-stopped

  nginx:
    image: nginx:1.27.2-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - web-network
    restart: unless-stopped


volumes:
  db-data:
  redis-data:
  nextcloud-data:

networks:
  internal:
  web-network:
    external: true
